@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    You can contact me if you want: <br/>
    qszymaniak@gmail.com
    <a href="mailto:Support@example.com">qszymaniak@gmail.com</a><br />
</address>


