@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Organizer</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my app - Organizer!</h2>
        <p>
            It should help you to organize your everyday duties as well as plan events in the future.
        </p>
    </div>
</div>